<!-- Button trigger modal -->
<div class="col-md-4 col-sm-6 mb-4 text-center">
    <button type="button"
            class="btn modal-trigger btn-{{ include.color | default: 'primary' }}"
            data-bs-toggle="modal"
            data-bs-target="#{{ include.button | slugify }}Modal">
        {{ include.button }}
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="{{ include.button | slugify }}Modal"
     tabindex="-1"
     aria-labelledby="{{ include.button | slugify }}ModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="{{ include.button | slugify }}ModalLabel">
                    {{ include.title }}
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {{ include.text | markdownify }}
            </div>

        </div>
    </div>
</div>